@font-face {font-family: 'Lato';font-style: normal;font-weight: 300;src: url(../assets/fonts/Lato/Lato-Light.woff) format('woff');}
@font-face {font-family: 'Lato';font-style: normal;font-weight: 400;src: url(../assets/fonts/Lato/Lato-Regular.woff) format('woff');}
@font-face {font-family: 'Lato';font-style: normal;font-weight: 600;src: url(../assets/fonts/Lato/Lato-Semibold.woff) format('woff');}
@font-face {font-family: 'Lato';font-style: normal;font-weight: 700;src: url(../assets/fonts/Lato/Lato-Bold.woff) format('woff');}

@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 300;src: url(../assets/fonts/Montserrat/Montserrat-Light.otf) format('opentype');}
@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 400;src: url(../assets/fonts/Montserrat/Montserrat-Regular.otf) format('opentype');}
@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 600;src: url(../assets/fonts/Montserrat/Montserrat-Bold.otf) format('opentype');}

body {
  font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

.navbar-default {
  background-color: #f56954;
  border: 1px solid #e74c3c;
  border-radius: 0;
  padding: 50px 0px;
}

.navbar a {
  font-family: 'Montserrat';
  color: white !important;
}

.navbar a:hover {
  color: #505050 !important;
}

.navbar-brand {
  margin-left: 100px !important;
  font-weight: 600;
}

.avatar {
  width: 150px;
  border-radius: 10rem;
}

#intro {
  margin-top: 100px;
  text-align: center;
}

#name {
  color: #49515a;
  font-weight: 600;
}

#caption, #location {
  color: #808080;
  font-weight: 400;
}

#location {
  font-size: 1.5rem;
}

#social {
  margin-top: 20px;
}

.social-link {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 2px solid #a0a0a0;
  border-radius: 10rem;
  margin-left: 15px;
  color: #707070;
}

.social-link i {
  font-size: 1.75rem;
  padding-top: 7px;
}

.social-link:hover {
  color: white !important;
}

#fb-social {
  color: #3a5795;
  border-color: #3a5795;
}

#fb-social:hover {
  background-color: #3a5795;
}

#twitter-social {
  color: #55acee;
  border-color: #55acee;
}

#twitter-social:hover {
 background-color: #55acee; 
}

#google-social {
  color: #d9534f;
  border-color: #d9534f;
}

#google-social:hover {
  background-color: #d9534f;
}

#github-social {
  color: #333;
  border-color: #333;
}

#github-social:hover {
  background-color: #333;
}

#linkedin-social {
  color: #1a84bc;
  border-color: #1a84bc;
}

#linkedin-social:hover {
  background-color: #1a84bc;
}

#phone {
  color: #34af23;
  border-color: #34af23;
}

#phone:hover {
  background-color: #34af23;
}

#mail {
  color: #337ab7;
  border-color: #337ab7;
}

#mail:hover {
  background-color: #337ab7;
}

.well {
  background-color: white;
  border-radius: 0;
  box-shadow: none;
}

.progress-bar-success {
  background-color: #20c05c;
}

.skill {
  margin-top: 10px;
}

.skillname {
  font-size: 1.5rem;
}

.progress {
  margin-top: 7px;
  height: 8px;
  border-radius: 0;
  background-color: #f7f7f7;
  box-shadow: none;
}

#about p {
  font-size: 1.65rem;
  font-weight: 600;
  color: #555;
  line-height: 3.25rem;
}

#about {
  margin-top: 60px;
}

#blog p {
  margin: 20px 40px;
  font-size: 1.65rem;
  color: #555;
}

.section {
  margin-top: 35px;
}

.project {
  margin: 30px 20px;
}

.project h5 {
  font-family: 'Lato';
  font-size: 1.75rem;
  color: #202020;
  font-weight: 700;
}

.project p {
  font-size: 1.65rem;
  font-weight: 600;
  color: #555;
  line-height: 3rem;
}

.progress-bar-rails {
  background-color: #e43725;
}

.progress-bar-android {
  background-color: #77c356;
}

.progress-bar-html-css {
  background-color: #3b9adc;
}

.progress-bar-js {
  background-color: #f8dc3d;
}

.progress-bar-ember {
  background-color: #f5664d;
}

.progress-bar-bootstrap {
  background-color: #5b4181 ;
}

.progress-bar {
    -webkit-transition: width 3s ease-in-out;
    -moz-transition: width 3s ease-in-out;
    -ms-transition: width 3s ease-in-out;
    -o-transition: width 3s ease-in-out;
    transition: width 3s ease-in-out;
}

#contact {
  font-size: 1.60rem;
  color: #505050;  
}

#contact a {
  margin: 20px 7px;
}

#contact ul {
  list-style: none;
  padding: 0;
}

.section h3 {
  font-size: 2rem;
  color: #505050;
}

.section h3:after {
  content: '';
  background: rgba(0,0,0,0.15);
  height: 1px;
  width: 50px;
  display: block;
  margin: 10px auto 0;
}