@font-face {font-family: 'OpenSans';font-style: normal;font-weight: 300;src: url(../assets/fonts/OpenSans/OpenSans-Light.ttf);}
@font-face {font-family: 'OpenSans';font-style: normal;font-weight: 400;src: url(../assets/fonts/OpenSans/OpenSans-Regular.ttf);}

@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 400;src: url(../assets/fonts/Montserrat/Montserrat-Regular.otf) format('opentype');}
@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 600;src: url(../assets/fonts/Montserrat/Montserrat-Bold.otf) format('opentype');}


body {
  font-family: 'OpenSans';
  background: linear-gradient(#7857b0, #5857b0, #324a99);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

p, span {
  font-weight: 300;
}

.navbar-default {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 45px 0px;
}

.navbar a {
  font-family: 'Montserrat';
  font-size: 1.3rem;
  color: white !important;
  border-radius: 5px;
  padding: 12px 15px !important;
}

.navbar a:hover {
  background: #6357a0 !important;
}

.navbar-brand {
  font-size: 1.8rem !important;
  margin-left: 125px !important;
  font-weight: 400;
}

@media(max-width:767px){
  .navbar-brand {
    margin-left: 40px !important;
  }
}

.navbar-right {
  margin-right: 62.5px;
}

.avatar {
  width: 85px;
  border-radius: 10rem;
  border: 4px solid #f4f4f4;
}

#intro {
  margin-top: 75px;
  padding-bottom: 200px;
  text-align: center;
}

@media(max-width: 767px) {
  #intro {
    margin-top: 100px;
  }
}

#intro img {
  margin-bottom: 20px;
}

#intro h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
} 

#intro h5 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
}

#social {
  margin-top: 20px;
}

#social a {
  display: inline-block;
  margin: 17px;
  color: #fff;
}

#social a > i {
  font-size: 2.5rem;
}

#social a:hover {
  color: #c7c7c7;
}

.section {
  background: white;
  padding: 75px;
  padding-bottom: 25px;
}

.section h4 {
  text-align: center;
  font-size: 1.65rem;
  font-weight: 400;
  color: #233;
}

.section h4:after {
  content: '';
  background: rgba(0,0,0,0.25);
  height: 1px;
  width: 25px;
  display: block;
  margin: 10px auto 0;
}

.section p {
  font-size: 1.65rem;
  line-height: 3rem;
  word-spacing: 1px;
  margin-top: 30px;
}

.section img {
  width: 100%;
  padding: 10px 0px;
}

#work img {
  padding: 0px 15px;
}

.thumbnail {
  border: none;
}

.thumbnail p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0px;
  text-align: center;
}

#tech {
  margin-top: 75px;
}