@font-face {font-family: 'MyriadPro';font-style: normal;font-weight: 400;src: url(../fonts/MyriadPro/MyriadPro-Regular.otf);}

@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 400;src: url(../fonts/Montserrat/Montserrat-Regular.otf) format('opentype');}
@font-face {font-family: 'Montserrat';font-style: normal;font-weight: 600;src: url(../fonts/Montserrat/Montserrat-Bold.otf) format('opentype');}


body {
  font-family: 'MyriadPro';
  background: linear-gradient(#7857b0, #5857b0, #324a99);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.65rem;
}

h5 {
  font-size: 1.25rem;
}

h4.underlined {
  text-align: center;
}

h4.underlined:after {
  content: '';
  background: rgba(0,0,0,0.25);
  height: 1px;
  width: 25px;
  display: block;
  margin: 10px auto 50px;
}

p {
  font-size: 1.75rem;
  line-height: 3rem;
  word-spacing: 1px;
  color: #444;
  text-rendering: optimizeLegibility;
}

img {
  width: 100%;
  height: auto;
}

.wh {
  color: #fff;
}

.navbar-default {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 45px 0px;
}

.navbar a {
  font-family: 'Montserrat';
  font-size: 1.25rem;
  color: white !important;
  border-radius: 5px;
  padding: 12px 15px !important;
}

.navbar a:hover {
  background: #6357a0 !important;
}

.navbar-brand {
  font-size: 1.75rem !important;
  margin-left: 100px !important;
}

@media(max-width:767px){
  .navbar-brand {
    margin-top: 12px;
    margin-left: 25px !important;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-default .navbar-toggle {
  border: 2px solid #fff;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background: transparent;
}

.navbar-default .navbar-toggle:hover {
  background: rgba(0,0,0,0.3);
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

.navbar-right {
  margin-right: 62.5px;
}

.section {
  background: white;
  padding-top: 75px;
  padding-bottom: 25px;
}

.avatar {
  width: 100px;
  height: 100px;
  border: 4px solid #f4f4f4;
  border-radius: 10rem;
}

.item {
  height: 210px;
  margin-top: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-align: center;
  overflow: hidden;
}

.item, .front {
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.item > .front > img {
  width: 75px;
  height: 75px;
}

.front {
  margin-top: 4rem;   
}

.back {
  height: 100%;
  padding: 10px;
  background: #222;
  margin-top: 100px;
}

.item:hover .front {
  margin-top: -203px;
}

.ember-item > .front > img {
  width: 100px;
  height: auto;
  padding-top: 17px;
  padding-bottom: 23px;
}

#intro {
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}

#intro h3 {
  margin-top: 30px;
}

@media(max-width: 767px) {
  #intro {
    margin-top: 75px;
    margin-bottom: 150px;
  }
}

#social {
  margin-top: 30px;
}

#social a {
  margin: 0px 17px;
  display: inline-block;
  color: #fff;
}

#social a > i {
  font-size: 2.65rem;
}

#social a:hover {
  color: #ccc;
}

#about-me .section {
  background: #f8f8f8 !important;
  padding-top: 100px;
  padding-bottom: 100px;
}


#about-me .col-lg-4 {
  text-align: center;
}

#about-me h5 {
  color: #555 ;
  font-size: 1.4rem;
}

#work img {
  cursor: pointer;
  padding: 5px;
  border-radius: 10rem;
  transition: .2s ease-in-out;
}

#projects-owl {
  margin: 40px 0px;
}

.customNavigation{
  text-align: center;
}

.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.customNavigation a > i {
  margin: 5px 25px;
  color: #c0c0c0;
  font-size: 2.25rem;
}

.customNavigation a > i:hover,
.customNavigation a > i:focus,
.customNavigation a > i:active {
  color: #505050;
}

.rails-item {
  background: #dc4126 !important;
}

.ember-item {
  background: #f7f9a2;
}

.ember-item h4 {
  color: #f5664d;
}

.android-item {
  background: #a4c639;
}

.js-item {
  background: #f8dc3d;  
}

.js-item h4 {
  color: #000;
}

.bootstrap-item {
  background: #5b4181;
}

.css-item {
  background: #0171bb;
}

#html5-img:hover {
  box-shadow: 0 0 0 3px #f16529;
}

#css3-img:hover {
  box-shadow: 0 0 0 3px #0171bb;
}

#bootstrap-img:hover {
  box-shadow: 0 0 0 3px #5b4181;
}

#rails-img:hover {
  box-shadow: 0 0 0 3px #dc4126;
}

#ruby-img:hover {
 box-shadow: 0 0 0 3px #ead57d; 
}

#ember-img:hover {
  box-shadow: 0 0 0 3px #f7f9a2;
}

#android-img:hover {
  box-shadow: 0 0 0 3px #a4c639;
}

#grunt-img:hover {
  box-shadow: 0 0 0 3px #e48632;
}